* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
}
.clear {
  clear: both;
}

.site {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: auto;
}
.site > .header {
  width: 100%;
  height: 900px;
  background: url("../images/Rectangle.png") no-repeat center center/cover;
}
.site > .header > .header_nav {
  padding: 2px 0;
  border-bottom: 1px solid #a1a1a1;
}
.site > .header > .header_nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 350px;
}
.site > .header > .header_nav > ul > li {
  margin-left: 40px;
  padding: 40px 0;
  border-bottom: 2px solid transparent;
}
.site > .header > .header_nav > ul > li > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.site > .header > .header_nav > ul > li:hover {
  border-bottom: 2px solid #ffffff;
}
.site > .header > .header_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 220px;
}
.site > .header > .header_info > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.site > .header > .header_info h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}
.site > .header > .header_info > button {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 15px 35px;
  border: none;
  margin-top: 50px;
}
.site > .mobile {
  width: 100%;
  height: auto;
  padding: 110px 0;
  text-align: center;
}
.site > .mobile > .mobile_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.site > .mobile > .mobile_info > h1 {
  max-width: 740px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}
.site > .mobile > .mobile_info > p {
  max-width: 740px;
  width: 100%;
  margin-top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}
.site > .mobile > .mobile_icon {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.site > .mobile > .mobile_icon > .mobile_icon_card {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.site > .mobile > .mobile_icon > .mobile_icon_card > .mobile_icon_card_left > .circle1 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site > .mobile > .mobile_icon > .mobile_icon_card > .mobile_icon_card_left > .circle1 > .circle2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #4985ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site > .mobile > .mobile_icon > .mobile_icon_card > .mobile_icon_card_right {
  margin-top: 50px;
  margin-left: 20px;
}
.site > .mobile > .mobile_icon > .mobile_icon_card > .mobile_icon_card_right > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.site > .mobile > .mobile_icon > .mobile_icon_card > .mobile_icon_card_right > p {
  max-width: 222px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.site > .mobile > button {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 15px 35px;
  border: none;
  margin-top: 60px;
}
.site > .project {
  width: 100%;
  height: auto;
  padding: 100px 0 70px 0;
  background: #f6f6f8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.site > .project > .project_block {
  max-width: 1110px;
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}
.site > .project > .project_block > .project_left {
  margin-right: 60px;
}
.site > .project > .project_block > .project_left > h1 {
  max-width: 425px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}
.site > .project > .project_block > .project_left > p {
  max-width: 490px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-top: 40px;
}
.site > .project > .project_block > .project_left > a {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
}
.site > .project > .project_block > .project_right {
  margin-left: 60px;
}
.site > .project > .project_count {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-left: -100px;
}
.site > .project > .project_count > .project_count_number {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 120px;
  width: 100%;
  margin-left: 100px;
}
.site > .project > .project_count > .project_count_number > h1 {
  margin-left: 20px;
}
.site > .project > .project_count > .project_count_number > p {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.site > .content_3 {
  height: 490px;
  background-color: #504dc2;
  font-size: Montserrat;
  padding-top: 100px;
}
.site > .content_3 > .top {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.site > .content_3 > .top > h2 {
  width: 34%;
  font-size: 38px;
  color: white;
  letter-spacing: 1.5px;
}
.site > .content_3 > .top > button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 30%;
  line-height: 19.5px;
}
.site > .content_3 > .top > button:hover {
  box-shadow: 0 0 10px white;
  cursor: pointer;
}
.site > .content_3 > .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.site > .content_3 > .content > .card {
  width: 350px;
}
.site > .content_3 > .content > .card:hover {
  transform: scale(1.07);
  transition: ease-out 700ms;
}
.site > .content_3 > .content > .card:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.site > .content_3 > .content > .card > img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}
.site > .content_3 > .content > .card > h3 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 25px;
}
.site > .content_3 > .content > .card > h3::before {
  content: "01.";
  color: #4985ff;
}
.site > .content_3 > .content > .card > p {
  color: gray;
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.site > .content_3 > .content > .card > a {
  color: #4985ff;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
}
.site > .content_3 > hr {
  width: 1110px;
  margin: 85px auto 0;
}
.site > .content_3_2 {
  height: 490px;
}
.site > .our_projects {
  width: 100%;
  background-color: #f6f6f8;
  font-family: Montserrat;
}
.site > .our_projects > h2 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 100px;
  text-align: center;
}
.site > .our_projects > p {
  width: 730px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.36px;
  color: gray;
  margin: 50px auto 70px;
  text-align: center;
}
.site > .our_projects > .images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.site > .our_projects > .images > img {
  width: 255px;
  height: 255px;
  border-radius: 10px;
  margin-left: 30px;
}
.site > .our_projects > button {
  width: 200px;
  height: 45px;
  background-color: #4985ff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  border: none;
  outline: none;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 50px;
  margin-left: 45.5%;
  margin-bottom: 130px;
}
.site > .our_projects > button:hover {
  box-shadow: 0 0 8px #4985ff;
}
.site > .video_us {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1490196078), rgba(255, 255, 255, 0.1490196078)), url("../images/c_3.png") no-repeat center center/cover;
  font-family: Montserrat;
  text-align: center;
  height: 570px;
}
.site > .video_us > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52.66px;
  color: white;
  padding-top: 70px;
}
.site > .video_us > p {
  color: white;
  font-size: 16px;
  padding-bottom: 70px;
  line-height: 25.36px;
}
.site > .video_us > .video {
  background: url("../images/video_us.jpg") center center/cover;
  width: 970px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
}
.site > .video_us > .video > button {
  width: 300px;
  height: 100px;
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 200px;
  font-size: 16px;
}
.site > .video_us > .video > button:hover {
  box-shadow: 0 0 12px white;
  cursor: pointer;
}
.site > .video_us > .video > button > i {
  padding-right: 8px;
  font-size: 24px;
}
.site > .subscribe {
  width: 1110px;
  margin: 163px auto 0;
  text-align: center;
  font-family: Montserrat;
  padding-bottom: 85px;
  border-top: 1px solid #e0e0e0;
}
.site > .subscribe > h3 {
  margin-top: 85px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.site > .subscribe > .p_1 {
  margin-top: 15px;
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
  color: gray;
}
.site > .subscribe > form {
  margin-top: 30px;
}
.site > .subscribe > form > input {
  width: 299px;
  height: 45px;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 10px #f2f2f2;
  font-size: 13px;
  line-height: 20.6px;
  font-weight: 400;
  padding-left: 30px;
  color: gray;
  box-shadow: 0 0 10px #c4c4c4;
  border: none;
}
.site > .subscribe > form > button {
  outline: none;
  border: none;
  width: 190px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 45px;
  margin-bottom: 35px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 19.5px;
  background-color: #4985ff;
  box-shadow: 0 0 10px #c4c4c4;
  margin-left: -4px;
}
.site > .subscribe > form > button:hover {
  cursor: pointer;
  background-color: #3c78f1;
}
.site > .subscribe > .p_2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  color: gray;
}
.site > .footer {
  height: 413px;
  font-family: Montserrat;
  background-color: #f6f6f8;
  padding-top: 70px;
}
.site > .footer > .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.site > .footer > .links > .section_1 {
  margin-left: 40px;
  height: 200px;
}
.site > .footer > .links > .section_1:first-child {
  margin: 0;
}
.site > .footer > .links > .section_1 > h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}
.site > .footer > .links > .section_1 > ul li {
  list-style: none;
  margin-top: 30px;
  font-size: 14px;
  text-decoration: none;
  color: gray;
}
.site > .footer > .links > .section_1 > ul li > i {
  padding-right: 15px;
}
.site > .footer > .links > .section {
  margin-left: 40px;
  height: 200px;
}
.site > .footer > .links > .section:first-child {
  margin: 0;
}
.site > .footer > .links > .section > h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}
.site > .footer > .links > .section > ul li {
  list-style: none;
  margin-top: 27px;
}
.site > .footer > .links > .section > ul li > a {
  font-size: 14px;
  text-decoration: none;
  color: gray;
}
.site > .footer > .links > .section > ul li > a:hover {
  color: black;
}
.site > .footer > p {
  font-size: 13px;
  color: gray;
  line-height: 20.6px;
  font-weight: 400;
  text-align: center;
  margin: 70px auto 0;
  border-top: 1px solid gray;
  width: 1110px;
  padding-top: 30px;
}/*# sourceMappingURL=style.css.map */